<section>
    <!DOCTYPE html>
<html lang="en">
<head>
    <title>Book App</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/base.css"/>
</head>
<body>
    <main>
        <h1>displaying your single book</h1>

        <ul>
           <%= book.title %>
           <%= book.author %>
           <%= book.ISBN %>
           <%= book.image_url %>
           <%= book.description %>
           <%= book.bookshelf_name %>
        </ul>
    </main>
</body>
</html>
</section>