<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book App</title>
    <link rel="stylesheet" type="text/css" href="./styles/base.css"/>
</head>
<body>
    <main>
        <h1>Returned Search</h1>

            <%  searchesResults.forEach((book, index) => { %>
            <div>
            <%= book.title %>
            <button id="<%= index %>" class="book-details-button">View Book Details</button>
            <form action="/books" method="post" class="<%= index %>" id="book-details-form">
                <input value="<%=book.title%>"></input>
                <input value="<%=book.author%>"></input>
                <input value="<%=book.ISBN%>" ></input>
                <input value="<%=book.image_url%>" ></input>
                <input value="<%=book.description%>" ></input>
                <input value="<%=book.bookshelf%>" ></input>
                <button type="submit">Add to My Books</button>
            </form>
            </div>
            <% }) %>
    </main>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $('.book-details-button').click(function (el) {
        const elID = el.currentTarget.id;
        $(`.${elID}`).toggle(300);
    });
</script>
</html>